#conference-list {
	position: relative;
	width: 100%;
}

/*
					<div id="conference-list-header"> \
						<div id="conference-list-header-next">January</div> \
						<div id="conference-list-header-prev">November</div> \
						<div id="conference-list-header-current"> \
							<div id="conference-list-header-calendar"> \
								<div id="conference-list-header-calendar-week"></div> \
								<div id="conference-list-header-calendar-day"></div> \
							</div> \
							<div id="conference-list-header-current-month">December</div> \
							<div id="conference-list-header-current-year">2013</div> \
						</div> \
					</div> \

*/
		#conference-list-header {
			height: 74px;
			color: #d94343;
			border-bottom: 1px solid #d94343;
			position: relative;
		}
				#conference-list-header-prev,
				#conference-list-header-next {
					font-size: 13px;
					height: 32px;
					position: absolute;
					top: 22px;
				}
						#conference-list-header-prev {
							left: 8px;
							background: url('i/swipe-left.png') no-repeat left bottom transparent;
							background-size: 20px auto;
						}
						#conference-list-header-next {
							right: 8px;
							background: url('i/swipe-right.png') no-repeat right bottom transparent;
							background-size: 20px auto;
						}
				#conference-list-header-current {
					height: 74px;
					width: 100%;
					margin: 0 auto;
					font-size: 20px;
				}
						#conference-list-header-calendar {
							background: url('i/conference-list-header-calendar.png') no-repeat 0 0 transparent;
							background-size: auto 48px;
							width: 46px;
							height: 48px;
							position: absolute;
							left: 33%;
							top: 13px;
							color: #f0f0f0;
							text-align: center;
							max-width: 130px;
							margin: 0 auto;
						}
								#conference-list-header-calendar-week {
									font-family: 'HelveticaLTStd-Cond';
									font-size: 15px;
									width: 46px;
									line-height: 11px;
								}
								#conference-list-header-calendar-day {
									font-size: 24px;
									width: 46px;
									line-height: 34px;
								}
						#conference-list-header-current-month {
							position: absolute;
							top: 15px;
							left: 49%;
						}
						#conference-list-header-current-year {
							font-family: 'HelveticaLTStd-BlkCond';
							font-size: 20px;
							position: absolute;
							bottom: 18px;
							left: 49%;
						}



		#conference-list .conference-summary-container {
			overflow: auto;
			height: 100%;
			margin-left: 8px;
		}
				#conference-list .conference-summary {
					color: #434343;
    				min-height: 100px;
    				background: #d94343;
    				margin-right: 16px;
				}
						#conference-list .conference-summary .white {
							margin: 10px 23px 0 0;
							background: #f0f0f0;
							border-bottom: 1px solid #eeb2b2;
							overflow: hidden;
							position: relative;
						}
						#conference-list .conference-summary .title {
							font-size: 13px;
							margin-bottom: 5px;
						}
						#conference-list .conference-summary .info {
							height: 100%;
						}
								#conference-list .conference-summary .logo {
									position: relative;
									border: 1px solid #d94343;
									width: 100px;
									float: left;
									margin: 0 10px 10px 0;
								}
										#conference-list .conference-summary .img {
											text-align: center;
											height: 70px;
										}
												#conference-list .conference-summary .img img {
													margin: 10px 0;
													height: 50px;
												}
										#conference-list .conference-summary .date {
											position: absolute;
											font-size: 13px;
											bottom: -5px;
											left: 5px;
											padding: 0 3px;
											background: #f0f0f0;
										}
												#conference-list .conference-summary .date span {
													font-size: 10px;
												}
								#conference-list .conference-summary .details {
								}
										#conference-list .conference-summary .description {
											font-family: 'HelveticaLTStd-Cond';
											font-size: 10px;
										}
										#conference-list .conference-summary .location {
											position: absolute;
											font-size: 10px;
											bottom: 10px;
											left: 112px;
										}

