# ignore some of the Visual Studio files & folders
bin/
obj/
*.suo
test-results.xml
*.user
NUnit.Runners

#ignore folders created by Eclipse
client/bin/
client/gen/

#ignore /output for assets
client/assets/www/output/
client/assets/www/js/conferer.js
