<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %class{35}.%method - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.akqa" level="DEBUG" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.transaction" level="TRACE" additivity="false">
		<appender-ref ref="console" />
	</logger>
	
	<logger name="org.springframework.orm" level="TRACE" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="org.hibernate" level="TRACE" additivity="false">
		<appender-ref ref="console" />
	</logger>
	
	<root level="WARN">
		<appender-ref ref="console" />
	</root>
</configuration>